nav > ul{
    display: flex;
}
nav  li {
    padding: 5px;
    margin-right: 15px;
    list-style: none;

}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    color: blueviolet;
    transition: .3s ease-in-out;
}

/* nested menu */
nav li  .dropdown{
    display: none;
    position: absolute;
    background: lightseagreen;
    padding-left: 15px;
}
nav  li:hover > .dropdown{
    display: block;
}
